<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title></title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width" />

        <link rel="stylesheet" href="" th:href="@{/resources/css/bootstrap.css}" />
        <link rel="stylesheet" href="" th:href="@{/resources/css/bootstrap-responsive.css}" />
        <link rel="stylesheet" href="" th:href="@{/resources/css/main.css}" />

        <script src="/web/resources/js/vendor/modernizr-2.6.1-respond-1.1.0.min.js" th:src="@{/resources/js/vendor/modernizr-2.6.1-respond-1.1.0.min.js}"></script>
    </head>
    <body>
		<div id="fb-root"></div>
        <div class=" home navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/web/">DoneDidIt</a>
                    <div class="nav-collapse collapse" th:if="${beans.facebook.isAuthorized()}">
                   
                        <ul class="nav" >
                            <li class="active"><a th:href="@{/project/create}" href="/web/project/create">Start a Project</a></li>
                            <li><a th:href="@{/project/list}" href="/web/project/list">My Projects</a></li>
                        </ul>
                        <!--<a href="#" class="pull-right">FACEBOOK</a> -->
					         <div class="pull-right">         
					       		 <div id="auth-loggedin">
					        	  Hi, <span id="auth-displayname"></span>
					        	 <img src="https://graph.facebook.com/picture?type=small&amp;return_ssl_resources=true" />
					        		(<a href="#" id="auth-logoutlink">logout</a>)
					      		</div>
					    	</div>                     
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
    	    	<section  layout:fragment="content"></section>

    		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	        <script src="/web/resources/js/vendor/bootstrap.min.js" th:src="@{/resources/js/vendor/bootstrap.min.js}"></script>
	         <script src="https://www.google.com/jsapi"></script>​
	         <script src="/web/resources/js/plugins.js" th:src="@{/resources/js/plugins.js}"></script>
	        <script src="/web/resources/js/main.js" th:src="@{/resources/js/main.js}"></script>
    </body>
</html>
