<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link ref="stylesheet" type="text/css" href="../../main.css" th:href="@{/resources/css/main.css}" />
    </head>
    <body>
    	<header th:fragment="header">
    		This is the header
    		<div th:if="${! beans.securityContext.userSignedIn()}" >
		   		<form th:action="@{/signin/facebook}" method="POST">
					<button type="submit">Sign in with Facebook</button>
					<input type="hidden" name="scope" value="publish_stream" />	
				</form>
    		</div>
    		<div th:if="${ beans.securityContext.userSignedIn()}" >
    			Welcome, <a th:href="${beans.facebook.userOperations().getUserProfile().getLink()}">
    				<img th:src="${'https://graph.facebook.com/' + beans.facebook.userOperations().getUserProfile().getId() + '/picture?type=small&amp;return_ssl_resources=true'}" />
    				<span th:text="${beans.facebook.userOperations().getUserProfile().getName()}">Example User</span>
   				</a>
   				<a href="#" th:href="@{/signout}">Sign out</a>
    		</div>
    	</header>
        <form>
			Welcome!
		</form>
    	<footer th:fragment="footer">
    	This is the footer
    	</footer>
    </body>
</html>
