<!DOCTYPE html>
<html xmlns:layout="layout" layout:decorator="layout">
  <head>
    <title>Content page 1</title>
  </head>
  <body id="home">
<section  layout:fragment="content">

        <div id="loginHeader">
            
            <!-- <a class="btn btn-large" href="#">Start Here</a> -->

            <div id="loginHome">
				<form id="createForm" action="#" method="POST" th:object="${project}" th:action="@{/project/create}">
		        	<fieldset>
		        		<div>
		        			<label for="name">Name</label>
		        			<input type="text" th:field="*{name}" />
		        		</div>
		        		<div>
		        			<label for="budget">Budget</label>
		        			<input type="number" min="0" th:field="*{budget}" />
		        		</div>
		        		<div class="submit">
		        			<input type="submit" value="Create" />
		        		</div>
		        	</fieldset>
				</form>
            </div>
            <img src="/web/resources/img/yarn.jpg" />
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row homeSubNav">
                <div class="span3">
                    <p><a class="think" href="#" rel="popover" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title"><span>think</span></a></p>
                </div>
                <div class="span3">
                    <p><a class="pin" href="#" rel="popover" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title"><span>pin</span></a></p>
               </div>
                <div class="span3">
                    <p><a class="plan" href="#" rel="popover" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title"><span>plan</span></a></p>
                </div>
                <div class="span3">
                    <p><a class="make" href="#" rel="popover" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title"><span>make</span></a></p>
                </div>                

            </div>


        </div> <!-- /container -->
 </section>
 </body></html>