<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hammertime</title>
        <link ref="stylesheet" type="text/css" href="../../main.css" th:href="@{/resources/css/main.css}" />
    </head>
    <body>
    	<div th:substituteby="layout::header"></div>
		Create a project
        <form action="#" method="POST" th:object="${project}" th:action="@{/project/create}">
        	<fieldset>
        		<div>
        			<label for="name">Name</label>
        			<input type="text" th:field="*{name}" />
        		</div>
        		<div>
        			<label for="budget">Budget</label>
        			<input type="number" min="0" th:field="*{budget}" />
        		</div>
        		<div>
        			<label for="owner">Owner</label>
        			<input type="text" th:field="*{owner.id}" />
        		</div>
        		<div class="submit">
        			<input type="submit" value="Create" />
        		</div>
        	</fieldset>
		</form>
    	<div th:substituteby="layout::footer"></div>
    </body>
</html>
