<!DOCTYPE html>
<html xmlns:layout="layout" layout:decorator="layout">
  <head>
    <title>Content page 1</title>
  </head>
  <body id="project">
<section  layout:fragment="content">
        <div class="container">
                        <h1><strong>PROJECT NAME: </strong><span th:text="${project.name}"></span></h1>
            <h1><strong>PROJECT BUDGET: </strong><span th:text="${project.budget}"></span></h1>
            
            <fieldset>
            	<label>Enter a Pintrest username to load inspiration</label>
            	<input type="text" placeholder="pintrest user name" id="pinUser" />
            	<button id="pinSubmit">Submit</button>
            </fieldset>
            
			<div class="flexslider">
				<ul id="feed" class="slides"></ul>
       		 </div>
			<img class="" th:src="@{/resources/img/view.png}" src="/web/resources/img/view.png" />
        </div> <!-- /container ${project.name} -->
 </section>
 
 </body>
 </html>